body {
  font-family: Microsoft JhengHei;
  font-size: 14px;
  background-color: #ffffff;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Microsoft JhengHei;
}

li {
  margin-top: 8px;
}

.zt-title{
  color:#fddd43;
  font-weight: bold;
  font-size: 48px;
  font-family: 'Righteous', cursive;
}

.carousel-item img {
  height: 280px;
  width:auto;
  object-fit:cover;
  z-index: 999;
  margin: 10px auto
}

.codebg{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-image: url('../images/code.jpg');
  opacity: 0.08;
  z-index: -1;
}

#home{
  z-index: 10;
}

.bg-home {
  padding: 120px 0px 0px 0px;
}

.demo-box img{
  height: 340px;
  width: 100%;
  object-fit: cover;
}

.client-images img{
  height: 60px;
  width:auto;
  object-fit: cover;
}

.clients{
  border:1px black solid;
}

.d-none{
  display: none;
}